
@{
    ViewBag.Title = "View Submissions";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>View Submissions</h2>
@{ var viewDataLink = ViewData["link"] as List<string>;}
@{ var viewDataNameFile = ViewData["nameFile"] as List<string>;}

<div>Coordinator: @ViewData["coordinator"]</div>

<div>Student Id: @ViewData["Student"]</div>

<div class="form-horizontal">
    @for (int i = 0; i < viewDataLink.Count; i++)
    {
        <a href="@viewDataLink[i]">@viewDataNameFile[i]</a>
        <br />
    }
    @for (int i = 0; i < viewDataLink.Count; i++)
    {

        if (viewDataNameFile[i].Split(".".ToCharArray()).Last() == "jpg" || viewDataNameFile[i].Split(".".ToCharArray()).Last() == "png")
        {
            <img src=@viewDataLink[i] alt=@viewDataNameFile[i] width="800" height="600"><br />
        }

        if (viewDataNameFile[i].Split(".".ToCharArray()).Last() == "docx")
        {
            <iframe src="@Url.Action("WordToPdf", "PreviewWord", new { path = viewDataLink[i], name = viewDataNameFile[i] })" width='700' height='550' allowfullscreen webkitallowfullscreen></iframe> <br />
        }

    }
    @Html.ActionLink("Download Zip", "DownloadZip", new { coordinator = @ViewData["coordinator"], student = @ViewData["Student"] })

</div>
    
