@model WebApplication1.Models.LoginViewModel

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"
          href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
          integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
          crossOrigin="anonymous" />
    <link href="@Url.Content("~/Content/login.css")" rel="stylesheet" type="text/css" />

</head>
<style>
    * {
        box-sizing: border-box;
    }

    .zoom {
        padding: 0px;
        transition: transform .1s;
        width: 360px;
        height: 50.44px;
        margin: 0 auto;
        border-radius: 20px;
    }

        .zoom:hover {
            -ms-transform: scale(1.2); /* IE 9 */
            -webkit-transform: scale(1.2); /* Safari 3-8 */
            transform: scale(1.2);
        }
</style>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <div class="signup col-md-auto">
            <img src="https://imgur.com/aILP3CD.png" alt="" class="signup-image">
            <div class="signup-container">
                <div class="tab">
                    <div class="tab-item is-active">Log in</div>
                </div>
                <h1 class="signup-heading">Log in</h1>
                <form class="signin-form" autocomplete="off">
                    @Html.ValidationMessage("error", null, new { @class = "text text-danger" })
                    <hr />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        <label for="email" class="form-label">Email</label>
                        <input type="Email" id="Email" class="form-input zoom" placeholder="Ex: johndoe@email.com" required name="email" style="border-radius:10px; padding:10px">
                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        <label for="password" class="form-label">Password</label>
                        <input type="Password" id="Password" class="form-input zoom" placeholder="**********" required name="password" style="border-radius:10px; padding:10px">
                        @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group signup-term">
                        By clicking you agree with our <a href="#" class="signup-term-link">Term of use.</a>
                    </div>
                    <button type="submit" class="btn btn--gradient zoom">Sign in</button>
                </form>
            </div>
        </div>




    </div>
}

