@model IEnumerable<Course>

@{
    ViewBag.Title = "Index Course";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 style="margin-top: 30px">Index Course</h2>

<head>
    <link rel="stylesheet"
          href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
          integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
          crossOrigin="anonymous" />
    @*<link href="@Url.Content("~/Content/table.css")" rel="stylesheet" type="text/css" />*@
</head>

@{var guests = ViewData["guests"] as Dictionary<string, string>; }
@{var mail = ViewData["mail"] as Dictionary<string, string>; }
<table class="table" style="margin-top: 50px; margin-bottom:50px">
    <thead class="thead-dark">
        <tr>
            <th>
                @*@Html.DisplayNameFor(model => model.nameCourse)*@
                Course Name
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.Coordinator)*@
                Coordinator
            </th>
            <th>
                Mail
            </th>

            <th>
                @*@Html.DisplayNameFor(model => model.dateEnd)*@
                Date end
            </th>
            <th>
                Date Final
            </th>
            <th>
                Guest
            </th>
            <th>
                View Mark
            </th>

            <th>
                Edit date end
            </th>
        </tr>
    </thead>


    @foreach (var item in Model)
    {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.nameCourse)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Coordinator)
    </td>
    <td>
        @mail[item.Coordinator]
    </td>

    <td>
        @Html.DisplayFor(modelItem => item.dateEnd)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.dateFinal)
    </td>
    <td>
        @if (guests != null)
        {
            if (guests.ContainsKey(item.Coordinator))
            {
                @guests[item.Coordinator];
            }

        }
    </td>
    <td>
        <button class="btn btn-outline-primary btn-md">@Html.ActionLink("View", "ViewMark", new { coordinator = item.Coordinator })</button>


    </td>
    <td>
        <button class="btn btn-outline-danger btn-md">@Html.ActionLink("Edit", "EditCourse", new { coordinator = item.Coordinator })</button>


    </td>
</tr>
    }

</table>
