@model IEnumerable<Course>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 style="margin-top: 30px; margin-bottom: 20px">Student Index</h2>

@*<p>
    @Html.ActionLink("Create New", "Create")
</p>*@
@{ var mk = ViewData["comment"] as Dictionary<string, List<string>>;}
<table class="table" style="margin-top: 50px; margin-bottom:50px">
    <thead class="thead-dark">
        <tr>
            <th>
                @*@Html.DisplayNameFor(model => model.nameCourse)*@
                Course Name
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.Coordinator)*@
                Coordinator
            </th>
            <th>
                Mail
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.dateEnd)*@
                Date End
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.dateEnd)*@
                Date Final
            </th>

            <th>Mark</th>
            <th>Comment</th>
            <th>Action</th>
        </tr>
    </thead>
    

@foreach (var item in Model) {
<tr>

    <td>
        @Html.DisplayFor(modelItem => item.nameCourse)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Coordinator)
    </td>
    <td>@mk[item.Coordinator][0]</td>
    <td>
        @Html.DisplayFor(modelItem => item.dateEnd)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.dateFinal)
    </td>

    @foreach (var itemMk in mk)
    {
        if (itemMk.Key == item.Coordinator)
        {

            <td>@itemMk.Value[1]</td>
            <td>@itemMk.Value[2]</td>
        }
    }

    <td>

        <button class="btn btn-outline-primary btn-md" style="border-radius: 10px">@Html.ActionLink("Submit", "Submit", new { coordinator = item.Coordinator })</button>
    </td>
</tr>
}

</table>
